body {
	background-color: #000000;
  	padding: 50px;
  	font: 14px "Avenir";
	color:#FFFFFF;
}

a {
  color: #00B7FF;
}

.title {
	font-family: Avenir;
	font-weight: 600;
	font-size: 34px;
	color:#685E71
}

.info {
	padding-top: 5px;
	padding-left:11px;
	padding-bottom: 0px;
	font-family: Avenir;
	font-size: 14px;
	color:#685E71
}

.content {
	padding-top: 5px;
	padding-left:15px;
	padding-bottom: 5px;
	font-family: Avenir;
	font-size: 16px;
	color:#685E71
}

.footer {
	text-align: center;
	padding-top: 5px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom: 5px;
	font-family: Avenir;
	font-size: 11px;
	color:#D9B4FA
}
